@charset "UTF-8";


body {
  background-image: url("background_image.png");
}

header {
  top: 0;
  position: sticky;
  display: flex;
  justify-content: space-between;
  background-color: rgb(39, 39, 39);
  color: rgb(18, 99, 175);
  margin-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
}

h2 {
  text-align: center;
  color: rgb(223, 218, 218) !important;
}

div.container-imgs {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center; 
  flex-wrap: wrap;
}

.icon {
  margin-left: 10px;
  object-fit: fill;
  border-radius: 60%;
}

.icon:hover {
  border: 2px solid blueviolet;
}
.navegação {
  background-color: rgb(39, 39, 39);
  text-align: right;
  margin: auto;
  padding-left: 100px;
  margin-right: 0;
}

a {
  text-decoration: none !important;
  color: rgb(174, 174, 233) !important;
}

a:hover {
  color: rgb(153, 158, 187) !important;
}

a:visited {
  color: rgb(255, 255, 255);
}

.btn-navegação {
  transition: width 0.4s, height 0.4s;
  background-image: linear-gradient(rgb(13, 13, 126), rgba(92, 6, 92, 0.8));
  width: auto;
  height: 30px;
}

.legenda {
  color: rgb(230, 230, 230) !important;
  overflow: auto;
}

.portifolio:hover {
  width: 575px;
  height: 575px;
}

.btn-navegação:hover {
  height: 40px;
}

.portifolio {
  transition: width 1s, height 1s;
  background-color: white;
  width: 525px;
  height: 525px;
  border-style: inset;
  border-color: rgb(74, 5, 138);
  border-width: 6px;
}