@charset "UTF-8";


body {
  background-image: url("background_image.png");
}

header {
  top: 0;
  position: sticky;
  display: flex;
  justify-content: space-between;
  background-color: rgb(39, 39, 39);
  color: rgb(18, 99, 175);
  margin-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
}

header.mainheader {
  top: 0;
  position: sticky;
  display: flex;
  justify-content: center;
  background-color: rgb(39, 39, 39);
  color: rgb(18, 99, 175);
  margin-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
}

h2 {
  text-align: center;
  color: rgb(224, 224, 224) !important;
}

.icon {
  margin-left: 10px;
  object-fit: fill;
  border-radius: 60%;
}

.icon:hover {
  border: 2px solid blueviolet;
}

a {
  text-decoration: none !important;
  color: rgb(174, 174, 233) !important;
}

a:hover {
  color: rgb(153, 158, 187) !important;
}

span.introduction {
  max-width: 85%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: auto;
  line-break:strict
}

span.container-imgs {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center; 
  flex-wrap: wrap;
}

.navegação {
  background-color: rgb(39, 39, 39);
  text-align: right;
  margin: auto;
  padding-left: 100px;
  margin-right: 0;
}

.btn-navegação {
  transition: width 0.4s, height 0.4s;
  background-image: linear-gradient(rgb(13, 13, 126), rgba(97, 4, 97, 0.8));
  width: auto;
  height: 30px;
}

.btn-navegação:hover {
  height: 40px;
}

.btn-expandir {
  transition: width 0.4s, height 0.4s;
  background-image: linear-gradient(rgb(13, 13, 126), rgba(97, 4, 97, 0.8));
  width: auto;
  height: 40px;
}

.btn-expandir:hover {
  height: 50px;
}

.legenda {
  color: rgb(230, 230, 230) !important;
  overflow: auto;
}

.portifolio:hover {
  width: 575px;
  height: 575px;
}

.portifolio {
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.2), 0 20px 20px 0 rgba(0, 0, 0, 0.19);
  transition: width 0.8s, height 0.8s;
  width: 525px;
  height: 525px;
  border-style: inset;
  border-color: rgb(74, 5, 138);
  border-width: 6px;
}

div.iframes-container {
  display: flex;
  max-width: 100%;
  margin: auto;
  justify-content: center;
  text-align: center;
  margin-bottom: 100px;
}

iframe.pag-inicial {
  border-width: 6px;
  border-style: outset;
  border-color: rgb(180, 180, 180);

}

.container-contatos {
  display: flex;
  max-width: 91%;
  margin: auto;
  background-color:rgba(102, 91, 151, 0.555); text-align:start; margin-left: 97px ; color: rgb(224, 224, 224);
}
