@charset "UTF-8";


body {
  background-image: linear-gradient(to right,rgb(11, 11, 105), rgb(92, 6, 92)) !important; 
}

.navegação {
  background-color: rgb(39, 39, 39);
}

header {
  background-color: rgb(39, 39, 39);
  color: rgb(51, 81, 107);
  text-align: center;
}

h2 {
  text-align: center;
  color: rgb(223, 218, 218) !important;
}

div{
  display: flex;
  align-items: center;
  justify-content: center; 
}

img:hover {
  width: 500px;
  height: 500px;
}

img {
  transition: width 1s, height 1s;
  border-style: outset;
  border-color: azure;
  border-width: 6px;
  width: 400px;
  height: 400px;
}