@charset "UTF-8";


body {
  background-image: linear-gradient(to right,rgb(11, 11, 105), rgb(92, 6, 92)) !important; 
}

header {
  top: 0;
  position: sticky;
  display: flex;
  justify-content: space-between;
  background-color: rgb(39, 39, 39);
  color: rgb(18, 99, 175);
  margin-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
}

h2 {
  text-align: center;
  color: rgb(224, 224, 224) !important;
}

a:link {
  color: rgb(0, 0, 0);
}

/* visited link */
a:visited {
  color: rgb(2, 44, 136);
}

/* mouse over link */
a:hover {
  color: rgb(138, 105, 255);
}

/* selected link */
a:active {
  color: blue;
}

span.container-imgs {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center; 
  flex-wrap: wrap;
}

.navegação {
  margin-top: auto;
  margin-bottom: auto;
}

.btn-navegação {
  background-color: whitesmoke;
  width: auto;
  height: 30px;
}

.legenda {
  color: rgb(230, 230, 230) !important;
  overflow: auto;
}

.portifolio:hover {
  width: 600px;
  height: 600px;
}

.portifolio {
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.2), 0 20px 20px 0 rgba(0, 0, 0, 0.19);
  transition: width 0.8s, height 0.8s;
  width: 550px;
  height: 550px;
  border-style: outset;
  border-color: azure;
  border-width: 6px;
}
